
.listaNav{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    position: absolute;
    top: 5px;
    left: 70%;
}

.logoredes{
    width: 30px;
    padding-left: 5px;
}

.logo{
    width: 400px;
    margin-left: 10%;
}
.navegacion{
    width: 100%;
}

.btnInput{
    display: flex;
    margin-left: 70%;
    
}
.content1 {
     
       padding: 1.5em 1.25em;   
        display: block; 
       color: #FFF;
    background-color: #182951;
    

    
}
.listamenu{
    text-decoration: none;
    color: #FFF;
}


  

 .carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  @keyframes carousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% * 2));
    }
    
  }
  
  .carousel-slide {
    display: flex;
    animation: carousel 10s infinite;
  }

.contentPP{
display: flex;
justify-content: space-between;

width: 100%;



}
.contentPri{
  
  width: 42%;
  margin-left: 5%;
  

  
}
.contentSeg{
 width: 41.66666667%;
  margin-left: 2% ;
  
  background-color: #e0d3d3;

}
.contentTer{
  width: 41.66666667%;
  margin-right: 2%;
  

}
.h2cont{
  font-family: "Oxygen";
 
  margin-inline-start: 2px;
  font-size: 20px;
}
.h2cont2{
  
  font-size: 20px;
  margin-right: 0px;

}

.contLista{
  padding: 25px 0px 25px 0px;
  position: relative;
  
  width: 100%;
  height: 100%;
  display: flex;

  

}
.tablalist{
 
  width: 80%;
  display: flex;
  justify-content: space-around;
  height: 200px; 
  margin-left: 10%;

  
}

.colum1{
 
 background-color: #D6B15F;
 height: 220px;
 width: 250px;

}
.colum2{
  
  background-color: #0034A0;
  height: 220px;
  width: 250px;
}
.colum3{
  background-color: #8dc641;
  
  height: 220px;
  width: 250px;
}
.colum4{ 
  background-color: #182951;
  
  height: 220px;
  width: 250px;
}


.tdscolum{
  padding-left: 20px;
}


.imgcol{
  width: 40%;
 height: 40%;
 display: flex;
 margin-left: 30%;
}

